<div class="dummy-phone">
  <div class="screen-shot">
    <div class="carousel carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "raspberrycookies.jpg", height: '410px', width: '410px' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "spagetti.jpg", height: '410px', width: '410px' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "spices.jpg", height: '410px', width: '410px' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "salmonsalad.jpg", height: '410px', width: '410px' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "tomatosandbasil.jpg", height: '410px', width: '410px' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "tomatospices.jpg", height: '410px', width: '410px' %>
        </div>
      </div>
    </div>